.swiper-container {
    height: 330px;
    width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
    color: aqua;
}

.tattoo-description {
    background-color: rgb(0, 0, 0, 0.3);
    position: absolute;
    bottom: 0px;
    padding: 5px 30px;
    padding: absolute;
    width: 100%;
}

.tattoo-description p,
.tattoo-description h3 {
    color: blanchedalmond;
    text-align: center;
}