<div class="container ">
    <div class="row border-primary">
        <div class="col-12 col-sm-12 col-md-6 ">
            <app-slider-detalles></app-slider-detalles>
        </div>
        <div class="col-12 col-sm-12 col-md-6  my-3 ">
            <h2 mat-dialog-title class="text-center text-bold">Nombre del tatuaje</h2>
            <div mat-dialog-content>
                <div class="row ">
                    <div class="col-12 mb-3">
                        <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi delectus earum, sunt at quae minima? Repellat temporibus laborum accusantium excepturi. Eveniet fugiat similique itaque, tempora nulla sint tempore officiis earum.</p>
                    </div>
                    <div class="col-6 mb-1 text-sm-center text-md-left">
                        <p class="text-justify letra">Precio</p>
                    </div>
                    <div class="col-6">
                        <p class="text-justify text-sm-center "> $1200</p>
                    </div>
                    <div class="col-6 mb-1">
                        <p class="text-justify letra text-sm-center">Estilo</p>
                    </div>
                    <div class="col-6">
                        <p class="text-justify text-sm-center"> Black and White</p>
                    </div>
                    <div class="col-6 mb-1">
                        <p class="text-justify letra text-sm-center">Medidas</p>
                    </div>
                    <div class="col-6  ">
                        <p class="text-justify text-sm-center"> 20cm2</p>
                    </div>
                </div>


            </div>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-6 d-flex justify-content-center mt-5">
                    <button (click)="closeModal()" [routerLink]="['home','producto','1']" class="btn btn btn-outline-info text-center align-self-end boton">Mas...</button>

                </div>
                <div class="col-12 col-sm-12 col-md-6 d-flex justify-content-center mt-5">

                    <button mat-dialog-close class="btn btn btn-outline-danger text-center align-self-end boton">Cerrar</button>

                </div>
            </div>
        </div>
    </div>