<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="side" mode="side">
        <ul class="mt-3 d-block">
            <li class="item" *ngFor="let catego of categorias">

                <p class="letras">{{catego}}</p>
                <hr>
            </li>

        </ul>

    </mat-drawer>

    <div class="boton">
        <button type="button" mat-button (click)="drawer.toggle()">
            <i class="fas fa-bars text-white"></i>
      </button>
    </div>
    <app-carrusel></app-carrusel>
</mat-drawer-container>