/* You can add global styles to this file, and also import other style files */

@import '~swiper/swiper-bundle';
html,
body {
    height: 100%;
    background-color: #14161E;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.titulosGalerias {
    font-weight: bold;
    text-align: center;
    color: #000;
}