    .cuadro {
        height: 100px;
    }
    
    .iconos {
        font-family: 'Times New Roman', Times, serif;
        font-size: large;
        font-style: bold;
    }
    
    .mat-icon {
        font-size: 35px;
    }
    
    .icon {
        font-size: 35px;
        display: flex;
        justify-content: center;
        margin: 3px;
        color: beige;
    }
    
    .letras {
        font-family: 'Times New Roman', Times, serif;
        font-size: large;
        display: flex;
        justify-content: center;
        color: beige;
    }
    
    .bg {
        background-color: #101010;
        border-radius: 10px;
        height: max-content;
    }
    /*-----Redes sociales -----*/
    
    footer .redes-sociales {
        background-color: #1e2b38;
        padding: 60px 0;
    }
    
    footer .redes-sociales .contenedor {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    footer .redes-sociales a {
        color: #fff;
        text-align: center;
        width: 100px;
        display: block;
        padding: 15px 0;
        border-radius: 3px;
        font-size: 30px;
        margin: 0 20px;
    }
    
    footer .redes-sociales .twitter:hover {
        background-color: #1da1f2;
    }
    
    footer .redes-sociales .youtube:hover {
        background-color: #ff0000;
    }
    
    footer .redes-sociales .facebook:hover {
        background-color: #3b5998;
    }
    
    footer .redes-sociales .instagram:hover {
        background-color: #c13584;
    }
    
    footer .redes-sociales .whats:hover {
        background-color: #00bb2d;
    }
    /*-------------MEDIA QUERIES-----------------*/
    
    @media screen and (max-width: 800px) {
        header .menu {
            text-align: center;
        }
        .main .trabajos .contenedor-trabajos .trabajo {
            width: 46%;
        }
    }
    
    @media screen and (max-width: 500px) {
        header .contenedor-texto .texto .nombre {
            font-size: 35px;
        }
        header .contenedor-texto .texto .profesion {
            font-size: 18px;
        }
        footer .redes-sociales .contenedor {
            flex-wrap: wrap;
            padding: 20px 0;
        }
    }