<!--<div>
    <div class="row d-flex align-items-center justify-content-center bg mt-2">

        <div class="col-1  d-flex align-items-center ">

            <div>
                <div class="col">
                    <i class="fab fa-facebook icon"></i>
                </div>
                <div class="col letras">
                    Facebook
                </div>
            </div>

        </div>

        <div class="col-1 d-flex align-items-center ">

            <div>
                <div class="col">
                    <i class="fab fa-instagram icon"></i>
                </div>
                <div class="col letras">
                    Instragram
                </div>
            </div>

        </div>

        <div class="col-1 d-flex align-items-center ">
            <div>
                <div class="col">
                    <i class="fab fa-whatsapp icon"></i>
                </div>
                <div class="col letras">
                    WhatssApp
                </div>

            </div>


        </div>
        <div class="col-1 d-flex align-items-center ">
            <div>
                <div class="col">
                    <i class="fab fa-youtube icon"></i>
                </div>
                <div class="col letras">
                    Youtube
                </div>

            </div>


        </div>
        <div class="col-1 d-flex align-items-center ">
            <div>
                <div class="col">
                    <i class="fas fa-envelope icon"></i>
                </div>
                <div class="col letras">
                    E-Mail
                </div>

            </div>


        </div>


    </div>
-->
<footer>
    <section class="redes-sociales">
        <div class="contenedor">
            <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
            <a href="#" class="facebook"><i class="fab fa-facebook icon"></i></a>
            <a href="#" class="instagram"> <i class="fab fa-instagram icon"></i></a>
            <a href="#" class="youtube"><i class="fab fa-youtube"></i></a>
            <a href="#" class="whats"><i class="fab fa-whatsapp"></i></a>

        </div>
    </section>
</footer>