<div>
    <div class="row d-flex align-items-center justify-content-center bg mt-2">

        <div class="col-1 d-flex align-items-center ">

            <div>
                <div class="col">
                    <i class="fab fa-facebook icon"></i>
                </div>
                <div class="col letras">
                    Facebook
                </div>
            </div>

        </div>

        <div class="col-1 d-flex align-items-center ">

            <div>
                <div class="col">
                    <i class="fab fa-instagram icon"></i>
                </div>
                <div class="col letras">
                    Instragram
                </div>
            </div>

        </div>

        <div class="col-1 d-flex align-items-center ">
            <div>
                <div class="col">
                    <i class="fab fa-whatsapp icon"></i>
                </div>
                <div class="col letras">
                    WhatssApp
                </div>

            </div>


        </div>
        <div class="col-1 d-flex align-items-center ">
            <div>
                <div class="col">
                    <i class="fab fa-youtube icon"></i>
                </div>
                <div class="col letras">
                    Youtube
                </div>

            </div>


        </div>
        <div class="col-1 d-flex align-items-center ">
            <div>
                <div class="col">
                    <i class="fas fa-envelope icon"></i>
                </div>
                <div class="col letras">
                    E-Mail
                </div>

            </div>


        </div>


    </div>