<div class="main">
    <hr>
    <section class="ubicacion" id="ubicacion">
        <div class="contenedor">
            <h3 class="titulo">Ubicación</h3>
            <div class="direccion">
                <p class="calle">2915 Primrose Lane<br />Anaheim, CA 92806</p>
                <p class="telefono">(503) 400-5479</p>
                <p class="correo">contacto [at] correo.com</p>
            </div>
            <div class="horarios">
                <h4>Horarios</h4>
                <p class="entre-semana">Lunes a Viernes<br />8:00am - 9:00pm</p>
                <p class="fin-semana">Sabados y Domingos<br />11:00am - 11:00pm</p>
            </div>
        </div>
    </section>


    <div class="mapa">


        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d332.6632465371262!2d-99.00190842677127!3d19.38408556546009!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1e2d0801fae6d%3A0x42e0eababdf1d3cc!2sJuan%20Cuervo%20Art!5e0!3m2!1ses-419!2smx!4v1622487741808!5m2!1ses-419!2smx"
            width="100%" height="552" style="border:0;" allowfullscreen loading="lazy"></iframe>
    </div>
</div>